# qspmpluginmanagerv3ValidationResult

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**errors** | **map[String, string]** | Map of errors encountered during validation, where keys are error codes or descriptions and values are detailed messages | [optional] [default to null]
**valid** | **boolean** | Indicates whether the validation was successful | [optional] [default to null]

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


