

# Qspmpluginmanagerv3ValidationResult


## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**errors** | **Map&lt;String, String&gt;** |  |  [optional] |
|**valid** | **Boolean** |  |  [optional] |



